<div class="vehicle d-flex justify-content-center">
  <div class="card rounded">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <% 10.times do %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <% end %>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>